<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mo_20.database">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.example.mo_20.database.provider"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>